// breakpoints
$breakpoint-xsmall: 320px;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-extra-large: 1300px;

// Colors
$color-primary: #006DFF;
$color-secondary: orange;
$color-white: rgb(255, 255, 255);
$color-black: rgb(22, 22, 22);
$color-grey: rgb(205, 205, 205);

// Shadows
$shadow-default: 0px 0px 8px rgb(140 140 140);

// Spacing
$spacing-small: 5px;
$spacing-medium: 15px;
$spacing-large: 25px;